*{
   margin:0
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    height: 50px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

