*{
   margin:0
}

.imgContainer
{
opacity:0.5;
background-color: Black;
z-index:10;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.iconMenu{
    background-color: rgb(27, 34, 95);
    color: white;
    border-radius: 7px;
    padding: 10px;
}

.header {
    display: flex;
    height: 60px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: large;
    background-color: purple;

}

.modal-dialog {
    padding: 8px;
    background-color: lime;
    position: fixed;
    overflow-y: scroll;
    display: block;
    top: 0;
    bottom: 0;
    right: -216px;
    height: vh;
    width: 200px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;

  }
  
  .modal-dialog.show {
    width: 500px;
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;

  }


